body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login-page {
  background-image: url('./assets/img/mainbackground.jpg');
  background-position: center;
  display: flex;
  height: 100vh;
  width: 100vw;
}

.login-card {
  width: 350px;
}

.login-content {
  height: 100%;
}

@media screen and (max-width: 576px) {
  .login-card {
    width: 100%;
  }
}
